@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
  font-family: 'Merienda', cursive !important;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

/* main-block */
.navbar-box {
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
}
/* block-one */
.navbar-box > .box-logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #62debe;
  font-size: 0.9rem;
  letter-spacing: 3px;
  padding: 10px;
}

/* block-two */
.navbar-box > .box-manu > .parent {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.navbar-box > .box-manu > .parent a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
}
.navbar-box > .box-manu > .parent a:hover {
  background: red;
}

/* block-three */
.navbar-box > .box-search {
  margin-left: auto;
  align-items: center;
  padding-right: 10px;
}

figure {
  margin: 0 !important;
}

.carousel-inner > .carousel.item {
  width: 100% !important;
}

.carousel-inner > div > img {
  width: 100% !important;
}
.sub-manu > .box-manu {
  padding: 0;
}

.box-manu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292b2c;	
}

.box-manu > li > a {
  font-size: 0.9rem;
  text-decoration: none;
  color: gray;
}

.box-manu > li > a:hover {
  background-color: black;
  color: white;
}

.box-manu > li:hover {
  background: black;
}

.box-manu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 40px;
}

@media all and (max-width: 900px) {
  .navbar-box {
    flex-wrap: wrap;
    width: 100%;
  }
  .navbar-box > .box-manu {
    order: 1;
    background: #333;
    width: 100%;
  }
  .navbar-box > .box-search {
    padding-bottom: 5px;
    padding-right: 0;
  }
}